{% extends "base.html.twig" %}




{% block body %}

    <header>
        <nav>
        </nav>
    </header>


    <main>
        {% block innerContent %}
        {% endblock %}
    </main>

    <footer>
    </footer>

{% endblock %}